@charset "utf-8";
$color-text: #2D2D32;
$color-btn: #64629D;

$layout-width-inner: 1200px;
// ブレークポイント
$breakpoints: (
  "sp": "(max-width: 767px)",
  "tab": "(min-width: 768px) and (max-width: #{$layout-width-inner - 1px})",
  "pc": "(min-width: #{$layout-width-inner})",
) !default;
// メディアクエリ
@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

$font-ja: 'Noto Sans JP', sans-serif;
$font-en: sans-serif;
body {
  font-family: $font-ja;
  font-size: 18px;
  line-height: 1.6;
  color: $color-text;
}

img {
  width: 100%;
  height: auto;
}

.inner {
  max-width: $layout-width-inner;
  width: 100%;
  margin: 0 auto;
  padding-right: 13px;
  @include mq(tab) {
    padding: 0 33px 0 26px;
  }
  @include mq(sp) {
   padding: 0 20px;
  }
}

@include mq(pc) {
  .is-sp {
    display: none;
  }
}
@include mq(tab) {
  .is-sp {
    display: none;
  }
}
@include mq(sp) {
  .is-pc {
    display: none;
  }
}

/**************************
section-title
***************************/
.section-title-en {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: #9F9EC1;
  font-family: $font-en;
  @include mq(sp) {
    font-size: 22px;
  }
}

.section-title-ja {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: $color-btn;
  margin-top: 10px;
  text-align: center;
  @include mq(sp) {
    font-size: 30px;
    margin-top: 5px;
  }
}

/****************************
btn共通
****************************/
.btn {
  width: 400px;
  margin: 0 auto;
  @include mq(sp) {
    max-width: 300px;
  }
  a {
    width: 100%;
    display: block;
    background: $color-btn;
    height: 70px;
    line-height: 70px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.24);
    border-radius: 50px;
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    transition: border .3s ease 0s;
    transition: background-color .3s ease 0s;
    &:hover {
      background: #fff;
      color: $color-btn;
      border: 2px solid $color-btn;
    }
    @include mq(sp) {
      font-size: 18px;
      height: 58px;
      line-height: 58px;
    }
  }
}
/*******************************
header
********************************/
.header {
  height: 72px;
  background: #fff;
  position: fixed;
  z-index: 100;
  width: 100%;
  @include mq(sp) {
    height: 52px;
  }
}

.header-inner {
  height: 72px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mq(sp) {
    height: 52px;
    position: relative;
  }
}

.header-left {
  font-weight: 700;
  color: $color-btn;
  font-size: 28px;
  @include mq(sp) {
    font-size: 24px;
  }
}

.header-right {
  display: flex;
  font-size: 14px;
  font-weight: 700;
  align-items: center;
}

.header-list {
  &:not(:first-child) {
    margin-left: 16px;
  }
  a {
    padding: 0;
    position: relative;
    &:hover {
      &::after {
        display: block;
      }
    }
    &::after {
      position: absolute;
      content: "";
      width: 54%;
      height: 0.3px;
      background: $color-text;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      display: none;
     
    }
  }
}

.header-list-btn {
  margin-left: 14px;
  a {
    display: inline-block;
    width: 180px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background: $color-btn;
    border-radius: 25px;
    text-align: center;
    border: 2px solid $color-btn;
    transition: border .3s ease 0s;
    transition: background-color .3s ease 0s;
    &:hover {
      background: #fff;
      color: $color-btn;
      border: 2px solid $color-btn;
    }
  }
}
.drawer--right .drawer-hamburger, .drawer--right.drawer-open .drawer-nav, .drawer--right.drawer-open .drawer-navbar .drawer-hamburger {
  right: 0;
}

.drawer--right.drawer-open .drawer-hamburger {
  right: 0;
}

.drawer-hamburger {
  width: 21px;
  padding: 22px 20px;
  text-align: right;
  transform: rotate(
180deg);
  top: 10px;
}
.drawer--right .drawer-nav {
  right: -100%;
  
}

.drawer-nav {
  width: 100%;
  background: #EDECFC;
  top: 52px;
  padding: 70px 37px 196px 37px;
  color: $color-text;
}

.drawer-menu-item {
  font-size: 24px; 
  font-weight: 700;
  color: $color-text;
  padding-left: 50px;
  position: relative; 
  &::before {
    content: "";
    position: absolute;
    background: url(../img/Rectangle.png) center center / contain no-repeat;
    width: 20px;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
  }
 
}

.drawer-hamburger-icon, .drawer-hamburger-icon:after, .drawer-hamburger-icon:before {
  width: 28px;
  height: 3px;
  background: $color-btn;
}

.drawer-hamburger-icon {
  width: 20.23px;
  text-align: right;
}

.drawer-btn {
  width: 100%;
  margin-top: 52px;
  a {
    display: block;
    width: 100%;
    text-align: center;
    background: $color-btn;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 58px;
    line-height: 58px;
    border-radius: 29px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.24);
    border: 2px solid $color-btn;
    transition: border .3s ease 0s;
    transition: background-color .3s ease 0s;
    &:hover {
      background: #fff;
      color: $color-btn;
      border: 2px solid $color-btn;
    }
  }
}
.drawer-btn-bottom {
  width: 100%;
  margin-top: 24px;
  a {
    display: block;
    width: 100%;
    text-align: center;
    background: #fff;
    color: $color-btn;
    font-size: 18px;
    font-weight: 700;
    height: 58px;
    line-height: 58px;
    border-radius: 29px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.24);
    border: 2px solid $color-btn;
    transition: border .3s ease 0s;
    transition: background-color .3s ease 0s;
    &:hover {
      background: $color-btn;
      color: #fff;
      border: 2px solid $color-btn;
    }
  }
}

.drawer-menu-title {
  font-size: 3px;
  font-weight: 700;
  color: $color-btn;
  position: absolute;
  top: 5px;
  right: 20px;
}
/***********************************
top
************************************/
.top {
 background: #EDECFC;
 padding: 105px 0 32px 0;

 @include mq(sp) {
   padding: 112px 0;
 }
}

.top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mq(sp) {
    display: block;
  }
}

.top-left {
  width: 56.667%;
  @include mq(sp) {
    width: 100%;
  }
}

.top-head {
  font-weight: 700;
  font-size: 60px;
  line-height: (86.88 / 60);
  @include mq(sp) {
    font-size: 30px;
    line-height: (48 / 30);
  }
}

.top-head-tab {
  @include mq(pc) {
    display: none;
  }
}

.top-text {
  margin-top: 20px;
  max-width: 600px;
  width: 100%;
  line-height: (32.4 / 18);
  @include mq(sp) {
    font-size: 16px;
    line-height: (25.6 / 16);
    margin-top: 12px;
  }
}

.top-btn {
  display: flex;
  margin-top: 28px;
  font-weight: 700;
  @include mq(sp) {
    display: block;
  }
}

.top-btn-left {
  margin-right: 37px;
  a {
    background: $color-btn;
    color: #fff;
    width: 250px;
    height: 54px;
    line-height: 54px;
    display: inline-block;
    border-radius: 27px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.24);
    text-align: center;
    border: 2px solid $color-btn;
    transition: border .3s ease 0s;
    transition: background-color .3s ease 0s;
    &:hover {
      background: #fff;
      color: $color-btn;
      border: 2px solid $color-btn;
    }
  }
}

.top-btn-right {
  a {
    background: #fff;
    color: $color-btn;
    width: 250px;
    height: 54px;
    line-height: 54px;
    display: inline-block;
    border-radius: 27px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.24);
    text-align: center;
    border: 2px solid $color-btn;
    transition: border .3s ease 0s;
    transition: background-color .3s ease 0s;
    &:hover {
      background: $color-btn;
      color: #fff;
      border: 2px solid $color-btn;
    }
  }
}


.top-right {
  width: 42.91667%;
  @include mq(sp) {
    width: 100%;
  }
}


.top-btn-left-sp {
  max-width: 300px;
  margin: 0 auto;
  a {
    width: 100%;
    height: 58px;
    line-height: 58px;
    background: $color-btn;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.24);
    border-radius: 29px;
    color: #fff;
    text-align: center;
    display: block;
  }
}

.top-btn-right-sp {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 32px;
  a {
    width: 100%;
    height: 58px;
    line-height: 58px;
    background: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.24);
    border-radius: 29px;
    color: $color-btn;
    text-align: center;
    display: block;
    border: 2px solid $color-btn;
  }
}

.about {
  padding: 90px 0 100px 0;
  @include mq(sp) {
    padding: 70px 0 60px 0;
  }
}



.about-text-head {
  margin-top: 10px;
  text-align: center;
  span {
    font-weight: 700;
  }
  @include mq(sp) {
    font-size: 16px;
    line-height: (25.6 / 16);
  }
}

.about-text {
  margin-top: 28px;
  text-align: center;
  line-height: (32.4 / 18);
  @include mq(sp) {
    font-size: 16px;
    line-height: (25.6 / 16);
  }
}

.about-btn {
  margin-top: 32px;
  @include mq(sp) {
    margin-top: 18px;
  }
}

/********************************
feature
*********************************/
.feature {
  padding: 90px 0 100px 0;
  background: #F9F9F9;
  @include mq(sp) {
    padding: 50px 0 60px 0;
  }
}

.feature-inner {
  @include mq(sp) {
    padding: 0;
  }
}

.feature-items {
  margin-top: 242px;
  @include mq(sp) {
    margin-top: 235px;
  }
}

.feature-item {
  padding: 55px 20px 55px 40px;
  background: #fff;
  max-width: 742px;
  width: 100%;
  border-radius: 30px;
  display: flex;
  @include mq(tab) {
    max-width: 500px;
  }
  @include mq(sp) {
    display: block;
    padding: 40px 20px 32px 40px ;
  }
  img {
    width: 70%;
    @include mq(sp) {
      width:280px;
      height: 280px;
    }
  }
  
}
.item01 {
  position: relative;
}

.item02 {
  margin-top: 153px;
  margin-left: auto;
  position: relative;
  @include mq(sp) {
    margin-top: 258px;
  }
}

.item03 {
  margin-top: 263px;
  position: relative;
  @include mq(sp) {
    margin-top: 265px;
  }
}

.feature-img01 {
  position: absolute;
  top: -60%;
  right: -60%;
  @include mq(tab) {
    top: -30%;
    right: -40%;
  }
  @include mq(sp) {
    top: -80%;
    left: 50%;
    transform: translateX(-50%);
    
  }
}

.feature-img02 {
  position: absolute;
  top: 10%;
  left: -60%;
  @include mq(tab) {
    top: 10%;
    left: -60%;
  }
  @include mq(sp) {
    left: 50%;
    transform: translateX(-50%);
    top: -68%;
  }
}

.feature-img03 {
  position: absolute;
  top: -40%;
  right: -60%;
  @include mq(tab) {
    top: -18%;
    right: -40%;
  }
  @include mq(sp) {
    left:50% ;
    transform: translateX(-50%);
    top: -75%;
  }
}

.feature-item-number {
  font-size: 72px;
  font-weight: 700;
  font-family: $font-en;
  color: $color-btn;
  line-height: 1.2;
  @include mq(tab) {
    font-size: 36px;
  }
  @include mq(sp) {
    font-size: 42px;
    line-height: 1;
  }
}

.feature-item-wrap {
  width: calc(100% - 122px);
  // display: inline-block;
  margin-left: 18px;
  @include mq(sp) {
    width: 100%;
    margin-left: 0;
  }

}

.feature-item-wrap-title {
  font-size: 36px;
  font-weight: 700;
  @include mq(tab) {
    font-size: 20px;
  }
  @include mq(sp) {
    font-size: 22px;
    line-height: (31.86 / 22);
  }
}

.feature-item-wrap-text {
  margin-top: 10px;
  padding-right: 104px;
  @include mq(tab) {
    padding-right: 52px;
  }
  @include mq(sp) {
    padding-right: 0;
    font-size: 14px;
    line-height: (22.4 / 14);
    margin-top: 4px;
  }
}

/***************************
trial共通
***************************/
.trial {
  background: $color-text;
  color: #fff;
  padding: 60px 0;
  text-align: center;
  @include mq(sp) {
    padding: 40px 0;
  }
}



.trial-head {
  font-size: 36px;
  line-height: (52.13 / 36);
  font-weight: 700;
  letter-spacing: 0.02em;
  @include mq(sp) {
    font-size: 18px;
    line-height: (28.8 / 18);
  }
}

.trial-btn {
  margin-top: 32px;
  @include mq(sp) {
    margin-top: 24px;
  }
}

/*********************
users
*********************/
.users {
  padding: 90px 0 100px 0;
  @include mq(sp) {
    padding: 50px 0 60px 0;
  }
}

.users-inner {
  padding: 0 20px 0 20px;
}

.users-items {
  max-width: 972px;
  width: 100%;
  margin: 0 auto;
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  @include mq(sp) {
    margin-top: 18px;
  }
}

.users-item {
  width: calc(25% - 40px * 3 / 4);
  @include mq(sp) {
    width: calc(25% - 11px * 3 / 4);
  }
  display: inline-block;
  &:not(:nth-child(4n + 1)) {
    margin-left: 40px;
    @include mq(sp) {
      margin-left: 11px;
    }
  }
  &:nth-child(n + 5) {
    margin-top: 50px;
    @include mq(sp) {
      margin-top: 12.49px;
    }
  }
}


/**********************
flow
**************************/
.flow {
  padding: 90px 0 70px 0;
  background: #F9F9F9;
  @include mq(sp) {
    padding: 50px 0;
    margin-top: 54px;
  }
}



.flow-items {
  display: flex;
  max-width: 1070px;
  width: 100%;
  margin: 0 auto;
  margin-top: 48px;
  @include mq(sp) {
    display: block;

  }
}

.flow-item {
  width: calc(33.3% - 115px * 2 / 3);
  @include mq(sp) {
    width: 100%;
  }
  &:not(:first-child) {
    margin-left: 115px;
    @include mq(sp) {
      margin-top: 74px;
      margin-left: 0;
    }
  }

}

.flow-item-img {
  background: #EDECFC;
  border-radius: 30px;
  padding: 21px 41px;
}

.flow-01 {
  position: relative;
  &::before {
    content: "01";
    position: absolute;
    top: -15px;
    left: -15px;
    font-size: 48px;
    line-height: 1;
    font-weight: 700;
    color: $color-btn;
    @include mq(sp) {
      top: -30px;
      left: 0;
    }
  }
  &::after {
    content: "";
    position: absolute;
    background: url(../img/Polygon.png) center center / contain no-repeat;
    top: 50%;
    transform: translateY(-50%);
    right: -73px;
    width: 29px;
    height: 64px;
    @include mq(sp) {
      display: none;
    }
  }
}
.flow-02 {
  position: relative;
  &::before {
    content: "02";
    position: absolute;
    top: -15px;
    left: -15px;
    font-size: 48px;
    line-height: 1;
    font-weight: 700;
    color: $color-btn;
    @include mq(sp) {
      top: -30px;
      left: 0;
    }
  }
  &::after {
    @include mq(sp) {
      display: none;
    }
    content: "";
    position: absolute;
    background: url(../img/Polygon.png) center center / contain no-repeat;
    top: 50%;
    transform: translateY(-50%);
    right: -73px;
    width: 29px;
    height: 64px;
  }
}
.flow-03 {
  position: relative;
  &::before {
    content: "03";
    position: absolute;
    top: -15px;
    left: -15px;
    font-size: 48px;
    line-height: 1;
    font-weight: 700;
    color: $color-btn;
    @include mq(sp) {
      top: -30px;
      left: 0;
    }
  }
}

.flow-item-head {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  @include mq(sp) {
    font-size: 20px;
  }
}

.flow-item-text {
  font-size: 16px;
  line-height: (28.8 / 16);
  margin-top: 4px;
}

/************************
price-btn
*************************/
.price-btn {
  width: 234px;
  @include mq(sp) {
    width: 166px;
  }
  a {
    display: inline-block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #fff;
    color: $color-text;
    text-align: center;
    border-radius: 50px;
    border: 2px solid $color-text;
    font-weight: 700;
    transition: border .3s ease 0s;
    transition: background-color .3s ease 0s;
    &:hover {
      background: $color-text;
      color: #fff;
      border: 2px solid #fff;
    }
    @include mq(sp) {
      font-size: 16px;
      height: 42px;
      line-height: 42px;
    }
  }
}

/***********************
price
*************************/
.price {
  padding: 90px 0 115px 0;
  @include mq(sp) {
    padding: 50px 0 69px 0;
  }
}

.price-inner {
  @include mq(tab) {
    padding-right: 0;
  }
  @include mq(sp) {
    padding-right: 0;
  }
}
.price-items-wrap {
  overflow-x: auto;
  white-space: nowrap;
}
.price-items {
  width: 1020px;
  margin: 0 auto;
  margin-top: 58px;
  @include mq(sp) {
    width: 727px;
  }
}

.price-item-box {
  display: flex;
  align-items: end;
  justify-content: flex-end;
}



.price-box {
  width: 260px;
  height: 270px;
  background: $color-text;
  color: #fff;
  padding: 40px 13px 41px 13px;
  text-align: center;
  @include mq(sp) {
    width: 180px;
    height: 200px;
    padding: 28px 7px;
  }
}

.price-item-box-base {
  background: $color-btn;
  height: 286px;
  box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.6);
  padding-top: 50px;
  @include mq(sp) {
    width: 216px;
    height: 232px;
    padding-top: 42px;
  }
}

.box-head {
  font-size: 24px;
  font-weight: 700;
  @include mq(sp) {
    font-size: 20px;
  }
}

.box-price {
  margin-top: 10px;
  font-weight: 700;
  @include mq(sp) {
    font-size: 12px;
  }
  span {
    font-size: 36px;
    @include mq(sp) {
      font-size: 30px;
    }
  }
}

.right-btn {
  margin-top: 20px;
  width: 100%;
  @include mq(sp) {
    margin-top: 10px;
  }
}
.base-btn {
  margin-top: 27px;
  width: 100%;

  a {
    background: $color-btn;
    color: #fff;
    border: 2px solid #fff;
    transition: border .3s ease 0s;
    transition: background-color .3s ease 0s;
    &:hover {
      background: #fff;
      color: $color-btn;
      border: 2px solid $color-btn;
    }
  }
}
.premium-btn {
  margin-top: 20px;
  width: 100%;
  @include mq(sp) {
    margin-top: 10px;
  }
}


.price-item-table {
  width: 100%;
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  
  tr {
    &:nth-child(2n + 1) {
      background:#EDECFC;
    }
    height: 60px;
    line-height: 60px;
    @include mq(sp) {
      height: 42px;
      line-height: 42px;
    }
  }
  
  th {
    padding-left: 32px;
    width: calc(100% - 780px);
    font-size: 22px;
    @include mq(sp) {
      width: calc(100% - 527px);
      padding-left: 18px;
      font-size: 15px;
    }
  }

  td {
    width: 260px;
    text-align: center;
    
    @include mq(sp) {
      width: 190px;
      font-size: 14px;
    }
    
    
   span {
    font-size: 24px;
    font-weight: 700;
    @include mq(sp) {
      font-size: 20px;
    }
   }
  }
  
}

.td-center {
  @include mq(sp) {
    width: 216px;
  }
}

.price-item-btns {
  display: flex;
  justify-content: flex-end;
  padding-right: 13px;
  margin-top: 16px;
  @include mq(sp) {
    margin-top: 9px;
  }
}

.price-item-btn-center {
  a {
    background: $color-btn;
    color: #fff;
    border: 2px solid #fff;
    transition: border .3s ease 0s;
    transition: background-color .3s ease 0s;
    &:hover {
      background: #fff;
      color: $color-btn;
      border: 2px solid $color-btn;
    }
  }
  
}

.price-item-btn {
  &:not(:first-child) {
    margin-left: 26px;
    @include mq(sp) {
      margin-left: 32px;
    }
  }
}


/*****************************
question
*********************************/
.question {
  padding: 90px 0 100px 0;
  background: #F9F9F9;
  @include mq(sp) {
    padding: 50px 0 60px 0;
  }
}


.question-items {
  max-width: 920px;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
  @include mq(sp) {
    margin-top: 30px;
  }
}

.question-item {
  &:not(:first-child) {
    margin-top: 24px;
  }
}

.question-item-q {
 
  background: $color-btn;
  color: #fff;
  line-height: 1;
  padding: 22px 56px;
  font-weight: 700;
  position: relative;
  border-radius: 10px;
  @include mq(sp) {
    font-size: 16px;
    line-height: (25.6 / 16);
    padding: 10px 10px 8px 47px;
  }
  &::before {
    content: "Q";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 24px;
    font-size: 22px;
    @include mq(sp) {
      left: 15px;
      top: 10px;
      transform: translateY(0);
      line-height: 1;
    }
  }
}

.question-item-a {
  margin-top: 14px;
  background: #fff;
  border-radius: 10px;
  line-height: (32.4 / 18);
  padding: 22px 25px 22px 56px;
  position: relative;
  @include mq(sp) {
    margin-top: 16px;
    font-size: 16px;
    line-height: (25.6 / 16);
    padding: 12px 16.04px 12px 40.96px;
  }
  &::before {
    content: "A";
    position: absolute;
    top: 24px;
    left: 25px;
    font-size: 22px;
    font-weight: 700;
    line-height: 1;
    @include mq(sp) {
      left: 15px;
      top: 12px;
    }
  }
}

/******************************
footer
******************************/
.footer {
  padding: 20px 0;
  background: #000;
  color: #fff;
  @include mq(sp) {
    padding: 30px 0;
  }
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  @include mq(sp) {
    display: block;
  }
}



.footer-title {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 0.03em;
  @include mq(sp) {
    margin-top: 26px;
    text-align: center;
  }
}

.footer-nav {
  display: flex;
  margin-top: 10px;
  @include mq(sp) {
    display: block;
    text-align: center;
    margin-top: 6px;
  }
}

.footer-list {
  &:not(:first-child) {
    margin-left: 14px;
    @include mq(sp) {
      margin-left: 0;
    }
  }
  a {
    font-size: 14px;
    letter-spacing: 0.03em;
    font-weight: 700;
    position: relative;
    
}
}

.footer-copyright {
  display: inline-block;
  margin-top: 10px;
  font-size: 10px;
  letter-spacing: 0.03em;
  @include mq(sp) {
    display: block;
    margin-top: 18px;
    text-align: center;
  }
}

.footer-copyright-author {
  display: inline-block;
  margin-top: 10px;
  font-size: 10px;
  letter-spacing: 0.03em;
  margin-left: 14px;
  @include mq(sp) {
    display: block;
    margin-top: 5px;
    margin-left: 0;
    text-align: center;
  }
}



.footer-sns-text {
  font-weight: 700;
  @include mq(sp) {
    text-align: center;
  }
}

.footer-sns {
  display: flex;
  @include mq(sp) {
    justify-content: center;
    text-align: center;
  }
}

.footer-sns-list {
  margin-right: 18px;
  margin-top: 6px;
  
  a {
    display: inline-block;
    transition: all .3s;
    &:hover {
      opacity: .7;
    }
    img {
      width: 24px;
      height: 24px;
    }
  }
}
